*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  
 }

.logogomeria {
    border-radius: 35px;
    width: 350px;
}

.bg-body-tertiary {
    background-image: url(../imagenes/navfondo.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}

.iconoburguer{
    color: rgb(255, 238, 0);
    
}

.box-carousel {
    padding: 15px;
    width: 100%;
    margin: auto;
    background: url(../imagenes/fondo-html.jpg);
    background-position: center;
    
}

.imagenpromos {
    width: 100%;
    height: 40vh;
    object-fit: scale-down;
    
}
