*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }
.logogomeria {
    border-radius: 35px;
    width: 350px;
}
.bg-body-tertiary {
    background-image: url(../imagenes/navfondo.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-linnk {
    text-decoration: none;
    margin: 15px;
} 

.iconoburguer, .nav-linnk{
    color: rgb(255, 238, 0);   
}
.box-carousel {
    width: 100%;
    margin: auto;
    background: url(../imagenes/fondo-html.jpg);
    background-position: center;   
}
.imagenpromos {
    width: 100%;
    height: 40vh;
    object-fit: scale-down;   
}
.conten-cards {
    margin: auto;
    justify-content: space-around; 
    object-fit: scale-down; 
    margin-top: 15px;
    margin-bottom: 15px;
}
.imagencard {
    height: 60%;
    object-fit: cover;
}
.contacto-mapas {
    margin: auto;
    padding: 50px;
}

@media ( width < 768) {
    conten-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
.pie {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: rgb(255, 208, 0);
    
}

.pie p {
    margin: 25px;
}